* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}

/* navbar and intro */

.intro {
    height: 100vh;
    width: 100%;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.toggle-btn {
    display: none;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
    cursor: pointer;
}

span {
    color: gray
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    /* Initially transparent bottom border */
    transition: border-bottom-color 0.3s ease;
}

nav ul li a:hover {
    border-bottom-color: white;
}

#subscribe {
    cursor: pointer;
    border: 3px solid white;
    background-color: transparent;
    padding: 12px 30px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#subscribe:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 30rem;
    height: 70vh;
    color: white;
}

.content p {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.content h2 {
    font-size: 3rem;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    width: 30vh;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #2E3440;
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color .3s ease;
}

.buttons a:hover {
    background-color: #384451;
}

/* second section */

.about-us {
    min-height: 100vh;
    padding: 80px 0px;
    background: url('ign_outer_space.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 30px;
    border-radius: 10px;
    margin: 0px auto;
}

.about-content h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-content p {
    color: white;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-right: 100px;
}

.about-content i {
    color: white;
    font-size: 1.5rem;
    margin-top: 500px;
}

/* footer */
.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* making it responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .content {
        width: 50px;
        margin-bottom: 20px;
        font-size: 10px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .intro nav {
        display: block;
        text-align: center;
    }

    .intro nav ul {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .intro nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .intro nav ul li a {
        display: block;
    }

    .intro .content {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .intro .content h2 {
        font-size: 32px;
    }
    .intro .content p {
        font-size: 16px;
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
    }

    .intro .content .buttons {
        text-align: center;
    }

    .intro .content .buttons a {
        display: inline-block;
        margin-top: 10px;
        /* Adjust margin as needed */
    }
}